/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.row {
    width: 100%;
    text-align: center;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    width: auto;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* Footer
------------------------- */

.footer-separator {
    padding-top: 200px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* Other */
.dropdown-header {
    color: #000;
    font-weight: bold;
    font-style: italic;
}

.dropdown-menu {
    text-align: center;
}

/* Formatowanie tekstu
-------------------------------------------------- */

#wyroznienie_cien {
    font-size: 16px;
    color: #FF0000;
    text-shadow: 2px 3px 6px green;
    font-style: italic;
}

#zastepowania_grafika {
    width: 350px;
    height: 75px;
    background: url("../img/header-image.jpg");
    text-indent: -9999px;
}

@font-face {
    font-family: sans-serif2;
    src: url('../fonts/licorice.ttf') format("truetype");
}

#osadzanie_fontow {
    font-family: sans-serif2;
    font-size: 20px;
    font-weight: bold;
}

#niewidoczny_tekst {
    visibility: hidden;
}

#selektory_pseudoklas::first-letter {
    background-color: #2aabd2;
    text-transform: capitalize;
}

#selektory_pseudoklas:hover {
    color: #99CC66;
}

#column1 {
    float: left;
    width: 33%;
}

#column2 {
    float: left;
    width: 33%;
}

#column3 {
    float: left;
    width: 33%;
}

/* Fozycjonowanie elementów strony
-------------------------------------------------- */

#zad2 {
    padding: 5px;
    background-color: green;
    color: white;
    width: 200px;
    height: 150px;
    font-weight: bold;
    z-index: 5;
}

#zad2_2 {
    border: 1px solid black;
    padding: 5px;
    background: silver;
    color: black;
    width: 200px;
    height: 150px;
    opacity: 0.5;
    position: relative;
    left: 100px;
    bottom: 80px;
    z-index: -1;
}

/* Tabele
-------------------------------------------------- */

#tabela1, #tabela1 tr, #tabela1 td {
    border: dotted;
    border-color: #7a43b6;
}

tr, td {
    width: 120px;
    height: 120px;
}

#tabela_grupa1 {
    background-color: red;
}

#tabela_grupa2 {
    background-color: lightblue;
}

#tabela_grupa3 {
    background-color: darkgoldenrod;
}

/* Gradienty
-------------------------------------------------- */

#zadanie5_1 {
    background: linear-gradient(45deg, white 20%, silver, white) fixed;
    border-radius: 10px;
    box-shadow:0 0 30px yellow;
}

#zadanie5_2 {
    background: radial-gradient(250px 150px, silver, white) fixed;
}

#zadanie5_3 {
    background:repeating-radial-gradient(black, white 10px) ;
}

/* Galeria
-------------------------------------------------- */

.gallery {
    background: red;
    margin: 0 auto;
}

.gallery img {
    width: 300px;
    padding: 10px;
    margin: 10px;
    height: auto;
    background: white;
    transition: all 1s ease;
    border: 2px solid black;
}

.gallery img:hover {
    transform: rotate(-360deg);
    width: 400px;
    transition: all 1s ease-in;
    border: 5px solid blue;
}

/* CANVAS
-------------------------------------------------- */

canvas {
    display: block;
    margin: 10px auto;
}
